@import '../../styles/mixins';

.home-game-play {
  .board {
    border: 2px solid black;
    overflow-y: scroll;
    overflow-x: hidden;

    display: inline-block;
    padding: 10px;

    height: 100%;
    margin: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    div {
      width: 40px;
      height: 40px;
      border: 1px dotted black;
    }
    div:hover {
      background-color: yellow;
    }
    div:ship {
      background-color: purple;
    }
    div:active {
      background-color: red;
    }
  }
}
